<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body>
    {{ template "navbar" . }}
    <div class="main">
        <div class="container">
            <div class="card">
                <div class="card-header">About</div>
                <div class="card-body">
                    <p class="card-text">
                        Made by erez.mizrahi@gmail.com.<br /><br />
                        &copy; 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>